.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 1em;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 1em;
  text-align: center;
}

.login-form label {
  margin-bottom: 0.5em;
  color: #333333;
  display: block;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  border: 1px solid #CCCCCC;
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
  border-radius: 3px;
}

.login-form input[type="submit"] {
  padding: 0.7em;
  color: #fff;
  background-color: #5C6BC0;
  border: none;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
}

.login-form input[type="submit"]:hover {
  background-color: #3F51B5;
}

.login-form p {
  text-align: center;
}
